//Colors

.color-blue {
  color: $blue;
}

.color-grey {
  color: $light-grey;
}

.color-navyblue {
  color: $navy-blue;
}

.color-grey4 {
  color: $grey4;
}

.color-grey5 {
  color: $grey5;
}

.color-red {
  color: $red;
}

.color-green {
  color: $green;
}
//theme Colors

.theme-color1 {
  color: #054162;
}

.theme-color2 {
  color: #1994a4;
}

.theme-color3 {
  color: #a7a7a7;
}

.theme-color4 {
  color: #515151;
}

.theme-color5 {
  color: #e7e7ef;
}

.theme-color6 {
  color: #545454;
}

.theme-color7 {
  color: #707070;
}
//Background Color

.bg-blue {
  background-color: $blue;
}

.bg-blue3 {
  background-color: $blue3;
}
//theme btn

.theme-btn1 {
  background-color: #f16a24;
}
