//Colors
$blue:#0084FF;
$blue2:#0061C6;
$blue3:#7F9BB9;

$white:#fff;
$dark-black:#1D1D1D;
$grey:#EAEFFD;
$grey2:#CBCBCB;
$grey3: #8b8888;
$grey4: #5B5B5B;
$grey5:#262626;
$grey6:#959595;

$dark-grey:#757575;
$gray:#707070;

$light-grey:#acacac;
$light-grey2: #F4F5F9;

$navy-blue:#013974;

$green:#00C507;
$green2:#02a808;
$red:#F44336;